@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"); }

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"); }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
  font-style: normal;
  background: #eeeeee; }

img {
  max-width: 100%;
  height: auto; }

@media (min-width: 768px) {
  body {
    min-width: 768px;
    margin: 0 auto; }
  .container {
    max-width: 1200px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    -webkit-box-shadow: 0 0 10px 3px #d6d6d6;
            box-shadow: 0 0 10px 3px #d6d6d6; } }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  font: inherit;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: #81b3d2;
  color: #fff;
  text-align: center;
  padding: 15px 20px; }
  .button:hover, .button:focus {
    background: #669ec0; }
  .button:active {
    background: #5496bd;
    color: #94b9d2; }
  .button:disabled {
    background: #e5e5e5;
    color: #fff; }

.main-header {
  background: #81b3d2;
  color: #fff; }

.main-nav {
  position: relative; }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff; }

.main-nav--opened .main-nav__toggle {
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 55px;
  background: transparent; }

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 20px;
  width: 25px;
  height: 4px;
  background: #fff; }

.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-nav--closed .main-nav__toggle {
  position: relative;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 80px;
  height: 55px;
  background: transparent;
  z-index: 110; }

.main-nav--closed .main-nav__toggle::after {
  position: absolute;
  right: 20px;
  top: 15px;
  content: "";
  width: 30px;
  height: 4px;
  background: #81b3d2;
  -webkit-box-shadow: 0 10px #81b3d2, 0 20px #81b3d2;
          box-shadow: 0 10px #81b3d2, 0 20px #81b3d2; }

.main-nav--closed .main-nav__item {
  display: none; }

.main-nav--closed .site-list__item-logo {
  display: block; }

.main-nav--nojs .main-nav__item {
  display: block; }

.main-nav--nojs .main-nav__toggle {
  display: none; }

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; }
  .main-nav__item {
    display: block; } }

.site-list {
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold; }

.site-list__item {
  width: 100%;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8; }
  .site-list__item:first-child {
    border-top: none; }
  .site-list__item:last-child {
    border-bottom: none;
    border-top: none; }
  .site-list__item:nth-last-of-type(2) {
    border-bottom: none; }

.site-list__item a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff; }

.site-list__item-logo {
  position: relative;
  background: #fff;
  height: 55px;
  z-index: 100; }

.site-list__item-logo a {
  padding: 0;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.site-list__item-logo a[href] {
  cursor: pointer; }

.site-list__item:not(.site-list__item-logo) a[href]:hover {
  background: #669ec0; }

.site-list__item:not(.site-list__item-logo) a[href]:active {
  background: #5496bd;
  color: #85b0cd; }

@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff; }
  .site-list__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    background: #fff;
    border: none;
    min-height: 56px; }
  .site-list__item a {
    padding-right: 0;
    padding-left: 0;
    color: #000; }
  .site-list__item-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .site-list__item:first-child {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3; }
  .site-list__item:nth-child(2) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2; }
  .site-list__item--active a {
    color: #827167; }
  .site-list__item:not(.site-list__item-logo) a[href]:hover,
  .site-list__item:not(.site-list__item-logo) a[href]:focus {
    background: #fff;
    color: #81b3d2; }
  .site-list__item:not(.site-list__item-logo) a[href]:active {
    color: #cacaca; } }

.promo {
  background: #fff; }

.promo__image {
  position: relative;
  padding: 90px 20px;
  text-align: center;
  background-color: gray;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo__image {
      background: url("../img/bg-back-mobile@2x.jpg"); } }
  .promo__image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom;
    background-size: cover; }

.promo__main-text {
  margin: 0;
  padding: 0 20px;
  padding-top: 40px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold; }

.promo__sub-text {
  margin: 0;
  padding: 40px 20px;
  text-align: center; }

@media (min-width: 768px) {
  .promo__main-text span {
    display: block; }
  .promo__image {
    background-image: url("../img/bg-back-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .promo__image {
      background: url("../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 768px) {
    .promo__image::before {
      height: 60px;
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat bottom; } }

@media (min-width: 1200px) {
  .promo__image {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom 0, center; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .promo__image {
      background: url("../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 1200px) {
    .promo__image::before {
      bottom: -1px; } }

.reason__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.reason__wrapper {
  background: #81b3d2;
  color: #fff;
  text-align: center;
  padding: 20px; }

.reason__title {
  font-size: 20px;
  line-height: 1.2;
  padding: 20px 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold; }

.reason__text {
  padding: 20px 0;
  margin: 0; }

.reason__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden; }

.reasons--gray {
  background: #eee;
  color: #000; }

.reason__item--gray {
  padding: 40px 0;
  background: #eee;
  color: #000;
  text-align: center;
  margin: 0 20px; }
  .reason__item--gray:first-of-type, .reason__item--gray:nth-of-type(2) {
    border-bottom: 1px solid #d6d6d6; }

.reason__text span {
  display: block; }

@media (min-width: 768px) {
  .reason__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: row;
        -ms-flex-pack: row;
            justify-content: row; }
  .reason__wrapper {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .reason__image-wrapper {
    -ms-flex-preferred-size: 66.66666%;
        flex-basis: 66.66666%; }
  .reasons--gray {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .reason__item--gray {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    display: block; }
    .reason__item--gray:first-of-type, .reason__item--gray:nth-of-type(2) {
      border-bottom: none; }
  .reason__text span {
    display: inline; } }

@media (min-width: 1200px) {
  .reason__image-wrapper {
    -ms-flex-preferred-size: 66.66666%;
        flex-basis: 66.66666%;
    height: 300px;
    overflow: hidden; }
  .reason__text span {
    display: block; } }

.features {
  padding: 20px 20px;
  background: #fff; }

.features__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.feature__item {
  padding: 10px 0;
  padding-left: 80px; }

.feature__title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  text-align: left; }

.feature__text {
  margin: 0; }

.feature__item--house {
  background: url("../img/icon-house-blue.svg") no-repeat top left;
  background-size: 50px; }

.feature__item--gift {
  background: url("../img/icon-gift-blue.svg") no-repeat top left 3px;
  background-size: 40px; }

.feature__item--food {
  background: url("../img/icon-burger-blue.svg") no-repeat top left;
  background-size: 50px; }

@media (min-width: 768px) {
  .features {
    padding-left: 0;
    padding-right: 0; }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .feature__item {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    text-align: center;
    padding: 120px 22px 20px; }
  .feature__title {
    text-align: center; }
  .feature__item--house {
    background-position: top 10px center;
    background-size: 80px; }
  .feature__item--gift {
    background-position: top 3px center;
    background-size: 65px; }
  .feature__item--food {
    background-position: top 10px center;
    background-size: 80px; } }

@media (min-width: 1200px) {
  .feature__text span {
    display: block; } }

.search {
  background: #fff;
  padding: 40px 20px;
  text-align: center; }

.search__title {
  margin: 0;
  padding-bottom: 20px; }

.search__text {
  margin: 0;
  padding-bottom: 30px; }

.search__button {
  margin-bottom: 30px;
  width: 100%;
  font-size: 21px;
  line-height: 1.2; }

@media (min-width: 768px) {
  .search__text span {
    display: block; }
  .search__button {
    width: 460px; } }

.map {
  height: 350px;
  overflow: hidden;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background: url("../img/bg-map-mobile@2x.jpg"); } }

.map__image {
  width: 100%; }

@media (min-width: 768px) {
  .map {
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat;
    background-size: cover; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .map {
      background: url("../img/bg-map-tablet@2x.jpg"); } }

@media (min-width: 1200px) {
  .map {
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .map {
      background: url("../img/bg-map-desktop@2x.jpg"); } }

.main-footer {
  background: #fff; }

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px; }

.main-footer__hash {
  font-size: 35px;
  line-height: 1.2;
  font-weight: bold; }

@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 40px 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-footer__hash {
    margin-right: 12.5%; }
  .main-footer__social {
    margin-right: auto; } }

@media (min-width: 1200px) {
  .main-footer__wrapper {
    padding-left: 100px;
    padding-right: 100px; }
  .main-footer__hash {
    margin-right: 190px; } }

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0; }

.social__item {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  margin-right: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.social__link {
  padding: 0;
  display: block;
  width: 50px;
  height: 50px;
  position: relative; }

.social__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.social__link--tw::before {
  width: 25px;
  height: 25px;
  background: url("../img/icon-twitter.svg") no-repeat; }

.social__link--fb::before {
  width: 13px;
  height: 25px;
  background: url("../img/icon-facebook.svg") no-repeat; }

.social__link--ytb::before {
  width: 25px;
  height: 20px;
  background: url("../img/icon-youtube.svg") no-repeat; }

.social__link--tw:active::before,
.social__link--fb:active::before,
.social__link--ytb:active::before {
  opacity: .5; }

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.developer span {
  margin-right: 10px;
  font-size: 18px;
  line-height: 1.2; }

.developer__link {
  display: block;
  height: 34px; }

.developer__link:hover .developer__icon,
.developer__link:focus .developer__icon {
  fill: #81b3d2; }

.developer__link:active .developer__icon {
  fill: #d6d6d6; }

.inner-header {
  background: #81b3d2;
  color: #fff; }

.feedback-form {
  background: #fff; }

.feedback-form__wrapper {
  padding: 20px;
  border-top: 1px solid #e5e5e5; }

.feedback-form__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  padding: 20px 0 30px; }

.feedback-form fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.feedback-form__field {
  font: inherit;
  font-weight: bold;
  padding: 15px 20px;
  background: #eee;
  border: 2px solid #eee; }

.feedback-form__field::-webkit-input-placeholder {
  color: #000;
  font-size: 18px; }

.feedback-form__field:-ms-input-placeholder {
  color: #000;
  font-size: 18px; }

.feedback-form__field::-ms-input-placeholder {
  color: #000;
  font-size: 18px; }

.feedback-form__field::placeholder {
  color: #000;
  font-size: 18px; }

.feedback-form__field:hover {
  background: #e5e5e5;
  border-color: #e5e5e5; }

.feedback-form__field:active {
  background: #fff; }

.feedback-form p {
  margin: 0;
  margin-bottom: 20px; }

.feedback-form label {
  margin-right: 14px; }

.feedback-form__footer-wrapper {
  margin: 0 20px; }

.feedback-form__button {
  margin-top: 20px;
  width: 100%; }

.feedback-form__required {
  display: none; }

@media (min-width: 768px) {
  .feedback-form {
    padding: 0 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .feedback-form__wrapper {
    border-top: none; }
  .feedback-form__title {
    text-align: left; }
  .feedback-form__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .feedback-form__title--center {
    margin: 0 40px; }
  .feedback-form__title-wrapper::before,
  .feedback-form__title-wrapper::after {
    content: "";
    width: 1%;
    height: 1px;
    background: #e5ddd5;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .feedback-form__impression-block {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%; }
  .feedback-form__name-block {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%; }
  .feedback-form__contacts-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .feedback-form__places-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .feedback-form__review-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .feedback-form__footer-wrapper {
    margin: 0 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .feedback-form__button {
    width: 48%; }
  .feedback-form__required {
    display: inline-block; } }

@media (min-width: 1200px) {
  .feedback-form {
    padding: 0 120px; }
  .feedback-form__button {
    width: 50%; } }

.inner-promo {
  position: relative;
  padding: 50px 40px 70px;
  background-color: gray;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .inner-promo {
      background: url("../img/bg-back-mobile@2x.jpg"); } }

.inner-promo__image {
  width: 100%;
  display: block;
  margin: 0 auto; }

.inner-promo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom;
  background-size: cover; }

@media (min-width: 768px) {
  .inner-promo {
    padding: 95px 100px 120px;
    background-image: url("../img/bg-back-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .inner-promo {
      background: url("../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .inner-promo::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat bottom;
    background-size: auto; }
  .inner-promo__image {
    width: 470px;
    height: 75px; } }

@media (min-width: 1200px) {
  .inner-promo {
    padding: 100px 100px 120px;
    background-image: url("../img/bg-back-desktop@1x.jpg"); } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .inner-promo {
      background: url("../img/bg-back-desktop@2x.jpg"); } }

.intro {
  background: #fff;
  color: #000;
  padding: 20px;
  text-align: center; }

.intro__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 20px 0; }

.intro__text {
  margin: 0;
  padding-bottom: 20px; }

@media (min-width: 768px) {
  .intro__text span {
    display: block; } }

.name-block__wrapper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.name-block__wrapper input {
  width: 100%; }

@media (min-width: 768px) {
  .name-block__wrapper {
    margin-top: 8px; } }

.contacts-block__wrapper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.contacts-block__wrapper label {
  display: block;
  margin-bottom: 12px; }

.contacts-block__wrapper input {
  width: 100%;
  padding-right: 75px; }

.contacts-block__icon::before {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 57px;
  height: 57px;
  background: #e6e6e6; }

.contacts-block__icon--tel::before {
  background-image: url("../img/sprite-icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center; }

.contacts-block__icon--mail::before {
  background-image: url("../img/sprite-icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 1200px) {
  .contacts-block__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts-block__wrapper p {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .contacts-block__wrapper label {
    white-space: nowrap; }
  .contacts-block__wrapper span {
    display: none; } }

.impression-block__wrapper p {
  margin: 0; }

.impression-block__wrapper input {
  display: none; }

.impression-block__wrapper label {
  outline: none;
  display: block;
  padding: 27px 0;
  padding-left: 75px;
  position: relative;
  cursor: pointer; }
  .impression-block__wrapper label::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border: 18px solid #f2f2f2;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }

.impression-block__wrapper input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 27px;
  left: 21px;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.impression-block__wrapper label:hover::before,
.impression-block__wrapper label:focus::before {
  background: #e5e5e5;
  border-color: #e5e5e5; }

.impression-block__wrapper label:active::before {
  background: #d5d5d5;
  border-color: #e5e5e5; }

.impression-block__wrapper input[type="radio"]:checked + label:active::after {
  background: #a4a4a4; }

@media (min-width: 768px) {
  .impression-block__wrapper label {
    white-space: nowrap; } }

.places-block__wrapper p {
  margin: 0; }

.places-block__wrapper input {
  display: none; }

.places-block__wrapper label {
  outline: none;
  display: block;
  padding: 20px 0;
  padding-left: 75px;
  position: relative;
  cursor: pointer; }
  .places-block__wrapper label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 55px;
    height: 55px;
    background: #f2f2f2;
    border-radius: 5px; }

.places-block__wrapper input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 25px;
  height: 26px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat; }

.places-block__wrapper label:hover::before,
.places-block__wrapper label:focus::before {
  background: #e5e5e5;
  border-color: #e5e5e5; }

.places-block__wrapper label:active::before {
  background: #d5d5d5;
  border-color: #e5e5e5; }

.places-block__wrapper input[type="checkbox"]:checked + label:active::after {
  opacity: 0.4; }

@media (min-width: 768px) {
  .places-block__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .places-block__wrapper p {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%; } }

@media (min-width: 1200px) {
  .places-block__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .places-block__wrapper p {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    white-space: nowrap; } }

.review-block__field {
  padding: 10px;
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  height: 120px;
  background: #f2f2f2;
  border: none; }

.photo {
  background: #fff; }

.photo__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.photo__item {
  width: 100%;
  padding: 20px;
  border-top: 1px solid #e5e5e5; }

.photo__image-wrapper {
  width: calc(100%-40px);
  height: auto;
  background: #eee; }

.photo__image {
  width: 100%;
  overflow: hidden;
  display: block; }

@media (min-width: 768px) {
  .photo__list {
    margin-left: 8%;
    margin-right: 8%; }
  .photo__item {
    padding: 0;
    width: 50%;
    border-top: none; }
  .photo__item--large {
    width: 100%; } }

@media (min-width: 1200px) {
  .photo__list {
    margin-left: 0;
    margin-right: 0; }
  .photo__item {
    width: 33.33333%;
    position: relative; }
  .photo__item--large {
    width: 100%; }
  .photo__insert {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; } }

.insert {
  padding: 20px 0; }

.insert__title {
  margin: 0; }

.insert__author {
  text-transform: none; }

.insert__likes {
  display: block;
  font-weight: bold; }

.insert__likes-icon {
  fill: grey;
  vertical-align: sub;
  padding-right: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

@media (min-width: 768px) {
  .insert {
    padding: 20px 5%;
    background: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .insert-wrapper {
    padding-top: 10px; }
  .insert__likes {
    -ms-flex-item-align: end;
        align-self: flex-end; } }

@media (min-width: 1200px) {
  .insert {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px; }
  .insert__likes {
    -ms-flex-item-align: center;
        align-self: center; }
  .insert__likes-icon {
    fill: #fff; } }

.video__wrapper {
  background: #fff; }

.video__wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  margin: 0 20px;
  margin-top: -63px; }

.video__image {
  display: block; }

.video__range {
  width: 100%; }

.video__replay {
  padding: 20px; }

.video__sub {
  padding: 20px;
  margin-left: auto; }

.video__fullscreen {
  padding: 20px; }

.video__icon {
  opacity: .7;
  cursor: pointer;
  border: none;
  background: transparent; }
  .video__icon:hover {
    opacity: 1; }
  .video__icon:active {
    opacity: .5; }

@media (min-width: 768px) {
  .video {
    background: #fff;
    padding: 0 60px; }
  .video__wrapper {
    position: relative; }
  .video__wrapper-icon {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .video__replay {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .video__range {
    width: 60%; }
  .video__icon svg {
    fill: #fff; }
  .video__icon {
    opacity: 1; }
    .video__icon:hover, .video__icon:focus {
      opacity: .5; }
    .video__icon:active {
      opacity: .7; } }

@media (min-width: 768px) {
  .video {
    padding: 0 200px; } }

.range {
  padding: 30px 20px;
  background: rgba(0, 0, 0, 0.6); }

.range__bar {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.4);
  position: relative; }

.range__toggle {
  position: absolute;
  top: -5px;
  left: 20%;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer; }

@media (min-width: 768px) {
  .range {
    width: 77%;
    background: none; } }
